<p-menubar [model]="items">
  <ng-template pTemplate="start" class="col">
    <a routerLink="/index">
      <p-image src="assets/images/logo.png" class="mr-5" alt="Logo" width="50"></p-image>
    </a>


  </ng-template>
  <ng-template pTemplate="end">
    <div class="col m-auto -mt-5 mr-5 ">
      <h5><i class="pi pi-sun"></i><span class="text-2xl font-light"> /
        </span><i class="pi pi-moon"></i></h5>
    </div>
    <div class="col m-auto -mt-5">
      <p-inputSwitch #theme (onChange)="changeTheme(checked)" [(ngModel)]="checked" styleClass=" ml-1">
      </p-inputSwitch>
    </div>
  </ng-template>
</p-menubar>
