<div class="text-layout-color">
  <app-menu></app-menu>

  <!--About-->

  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">

    <div class="border-blue-600 font-medium text-2xl p-3 mb-3 text-900" style="border-left: 8px solid;">About us!</div>
    <div class="line-height-3 text-xl text-700 mb-5">We're a couple of friends gathering up to Buy/sell gold for WoTLK,
      offering a better experience for everyone that wants to go right inside the game and enjoy it!</div>

    <div class="line-height-3 text-lg text-700 mb-6"> SPEED<br>
      We have the fastest delivery time compared to any other seller/websites. 90% of orders are delivered within one
      hour. </div>
    <div class="line-height-3 text-lg text-700 mb-6"> SAFETY<br>
      There will be an 100% chargeback on your gold if anything occurs, we'll take care of you if it's the case </div>
    <div class="line-height-3 text-lg text-700 mb-6"> SUPPORT<br>
      We are always available, no matter where you are across the globe. Our experienced operators are online 24/7 to
      answer your questions and to solve any problems. </div>

    <div class="text-center"><img src="assets/images/bg.webp" alt="Lordaeron" class="w-full border-round"></div>

  </div>


  <!--About-->
  <app-footer></app-footer>
</div>
