<div class="text-layout-color">
  <!--Menú-->
  <app-menu></app-menu>
  <!--Menú-->

  <!--HERO1-->
  <div class="grid grid-nogutter surface-section text-800 md:mx-8 md:pr-8 md:pl-8 my-8">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>

        <span class="block text-6xl font-bold mb-1">Join us in our community</span>
        <div class="text-6xl text-primary font-bold mb-3">There you will find more information</div>
        <span class="block text-xl md:ml-3 font-light mb-3"><i class="pi pi-discord"></i> Powered by
          Discord.</span>

        <a href="https://discord.gg/CeRDgf8GMh" pButton pRipple icon="pi pi-discord" label="Join us" type="button"
          class="mr-3 p-button-raised p-button-lg no-underline" target="_blank"></a>
      </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden ">
      <img src="assets/images/arthas.gif" alt="Image" class="md:ml-auto block md:w-full"
        style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
  </div>
  <!--HERO1-->


  <!--Cards-->
  <div class="flex justify-content-evenly flex-wrap">
    <div class=" flex align-items-center  my-6">
      <a routerLink="/index" class="cursor-pointer no-underline">
        <p-card header="TBC Classic" subheader="Sell now." [style]="{width: '360px'}" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/TBC-Classic.jpg" class="max-w-screen">
          </ng-template>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
          </p>
        </p-card>
      </a>
    </div>
    <div class="flex align-items-center  my-6"><a routerLink="/index" class="cursor-pointer no-underline">
        <p-card header="WoTLK Classic" subheader="(Coming Soon)" [style]="{width: '360px'}" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/images/WOTLK-Classic.jpeg" class="w-full">
          </ng-template>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
            numquam
            deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
            quas!
          </p>
        </p-card>
      </a>
    </div>
    <!--  <div class=" flex align-items-center  my-6">
      <p-card header="Coming Soon..." subheader="" [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img alt="Card" src="assets\cs.jpg" class="w-10 mx-5 center">
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae
          numquam
          deserunt
          quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
        </p>
      </p-card>
    </div> -->
  </div>
  <!--Cards-->
  <!--Footer-->
  <app-footer></app-footer>
  <!--Footer-->
</div>
